body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.btn{
    width: 70px;
    height: 70px;
    margin: 15px;
    font-size: 40px;
}
.firstrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#screen {
    width: 275px;
    height: 70px;
    border: 1px solid grey;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.previous{
    font-size: 20px;
}
.current{
    font-size: 25px;
}
h1{
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}